body{
    width: 100%;
    top: 0px;
    left: 0px;
    
    background-color: slategray;
}

/* Blog Banner */

.blogBanner{
    width: 100%;
    background-color: rgb(72,3,85);
    margin:0px;
    padding: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 2.1em;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    z-index: 2;
    height: 5.57%;
}

/* Blog and its content*/ 

.blog{
    top: 14%;
    z-index: 1;;
    background-size: cover;
    position: relative;
    
    width: 68%;
    font-family: 'Titillium Web', sans-serif;
    padding: 25px;
    margin: 14.59%;
    max-width: 90%;
}
a.date{
    color: black;
    opacity: 0.6;
    letter-spacing: 0.2 rem;
    
    font-weight: 600;;
    margin:0px;
}

article{
    background-color: rgb(193,238,255);
    padding: 20px;
    border-radius: 20px;
    margin:10px;
}





/* the headers have a lot of empty space*/

h1{
    margin:0px;
    text-decoration: underline;
}

h2{
    margin:0px; 
}

p{
    margin:0px;
}

/* menu-container*/
.menu-container{
    position: fixed;
    top: 5.5em;
    width: 8.9em;
    text-align: center;
    height: fit-content;
}
/* Vertical Menu */

.vertical-menu a {
    height:1.3em;
    text-indent: 1.3em;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    background-color: #52a376;
    color:#480355;
    display: block;
    padding: 1px;
    margin: 0px;
    text-decoration: none;
    font-size: 0.8em;;
  }
  
  
  
  .vertical-menu a.active {
    text-align: center; 
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;;
    background-color: #14281D;
    color: white;
    font-size: 1.3em;;
    text-indent: 0em;
    height: 2.1em;
    
  }
  .vertical-menu a.l:hover {
    background-color: #ccc;
  }

  .vertical-menu a.e {
      border-bottom-right-radius: 0.8em;;
      border-bottom-left-radius: 0.8em;
  }

