body{
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin:0px;
  background-color: slategray;
}

/* Blog Banner */
/*
.blogBanner{
  width: 100%;
  background-color: rgb(72,3,85);
  margin-bottom: 10px;
  padding: 5px;
  position: sticky;
  top: 0px;
  left: 0px;
  font-size: 1.5em;
  color:white;
  font-family: 'Titillium Web', sans-serif;
  z-index: 2;
  height: 5%;
}
*/
/* Blog and its content*/ 

.blog{
  top: 0%;
  
  z-index: 1;;
  background-size: cover;
  position: relative;
  
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  
 
  max-width: 90%;
}

.blog img{
  display: block;

  margin-top: 1em;
  margin-bottom: 1em;
 

  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 85%;
  
  border: 1px solid rgba(0, 0, 0, 0.411);
  box-shadow: 5px 10px 8px #888888;
  
}


article.l{
  background-color: rgb(193,238,255);
  padding: 20px;
  border-radius: 20px;
  border: 2px solid black;
  margin:10px;
}

article.l >a.date{
opacity: 0.5;
margin:0px;
}
article.l > div.sig{
text-align: center;
}

article.s{
position: relative;
left: 15%;
background-color: rgba(193, 238, 255, 0.541);
padding: 5px;
border-radius: 20px;

margin:5px;
width: 70%;
font-size: small;


}
article.s > h1{
text-align: center;
}
article.s > p{
margin:0px;
text-align: center;
}

article.s > a.date {
text-indent: 0px;
text-align-last: auto;
color: black;
opacity: 0.5;
}

article.s > div.sig{
text-align: center;
}
/* the headers have a lot of empty space*/

h1{
  margin:0px;
  text-decoration: underline;
}

h2{
  margin:0px; 
}

p{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
}

/*MENU SYSTEM */

/* the drop down button style properties*/
.drpbtn{

  background-color:#1b5e39;
  color: white;
  
  font-size: 1.3em;;
  text-indent: 0em;
  height: 2.1em;
  border: none;
  cursor: pointer;
  /*
  min-width: 120px;
  */
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  
  margin-bottom: 5px;
}


/* we need a container so we can specify position on the page*/
.drpdwncon{
  position: relative;
  /*
  top: 10%;\
  */
  width: fit-content;
  white-space: nowrap;
  
  
  
  
}
/* we need to specify the properties of the hidden content*/
.drpdwncon-c{
  display: none;
  position: absolute;
  background-color: #52a376;
  
  
  z-index: 1;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  
}
/* the <a> inside the dc */
  .drpdwncon-c a{
    color: black;
    
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    background-color: #52a376;
    color:#480355;
    font-size: 0.8em;;
    text-decoration: none;
    text-indent: 5px;;
    /*
    min-width: 120px;
    */
    display: block;

    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    
  }
  /* change on hover */
  .drpdwncon-c a:hover {
    background-color: #ccc;
    
  }
  

/* now we want the content to show on hover */
.drpdwncon:hover .drpdwncon-c{
  display: block;
  
  /* notice how we went from display:none to display: block*/
}

/* post filtering CSS */

.filterDiv {
  /* lol i oopsied here*/
  display: none;
  
}

.show {
  display: block;
}



.container {
  margin: 20px;
  overflow: hidden;
}

/* Style the buttons */
.filterBtn {
  border: none;
  outline: none;
  margin:1px;
  padding: 12px;
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  background-color: #3e6d9d;
  color: white;
  cursor: pointer;
}

.filterBtn:hover {
  
  background-color: #9d3e4a;
}

.filterBtn.active {
  background-color: #25425e;
  
}

.active:hover{
  background-color: #66262e;
}

#myFilterBtnContainer 
{
  position: relative;
  top: 50%;
  max-width: 120px;
  
  display: inline-block;
}