body{
    width: 100%;
    top: 0px;
    left: 0px;
    
    background-color: slategray;
}

/* Blog Banner */

.blogBanner{
    width: 100%;
    background-color: rgb(72,3,85);
    margin:0px;
    padding: 5px;
    position: fixed;
    top: 0px;
    left: 0px;
    font-size: 1.5em;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    z-index: 2;
    height: 10%;
}

/* Blog and its content*/ 

.blog{
    top: 60px;
    left:10em;
    z-index: 1;;
    background-size: cover;
    position: relative;
    
    width: 68%;
    font-family: 'Titillium Web', sans-serif;
    
   
    max-width: 90%;
}

.blog img{
    display: block;

    margin-top: 1em;
    margin-bottom: 1em;
   

    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 85%;
    
    border: 1px solid rgba(0, 0, 0, 0.411);
    box-shadow: 5px 10px 8px #888888;
    
}
a.date{
    color: black;
    opacity: 0.6;
    letter-spacing: 0.2 rem;
    
    font-weight: 600;;
    margin:0px;
}

article{
    background-color: rgb(193,238,255);
    padding: 20px;
    border-radius: 20px;
    margin:10px;
}





/* the headers have a lot of empty space*/

h1{
    margin:0px;
    text-decoration: underline;
}

h2{
    margin:0px; 
}

p{
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
}
/****************************************************************/
/* OLD MENU SYSTEM */

/* menu-container*/
.menu-container{
    position: fixed;
    top: 4em;
    width: 8.9em;
    text-align: center;
    height: fit-content;
}
/* Vertical Menu */

.vertical-menu a {
    height:1.3em;
    text-indent: 1.3em;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    background-color: #52a376;
    color:#480355;
    display: block;
    padding: 1px;
    margin: 0px;
    text-decoration: none;
    font-size: 0.8em;;
  }
  
  
  
  .vertical-menu a.active {
    text-align: center; 
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;;
    background-color: #14281D;
    color: white;
    font-size: 1.3em;;
    text-indent: 0em;
    height: 2.1em;
    
  }
  .vertical-menu a.l:hover {
    background-color: #ccc;
  }

  .vertical-menu a.e {
      border-bottom-right-radius: 0.8em;;
      border-bottom-left-radius: 0.8em;
  }

/****************************************************/
/*New Menu System*/
/* the drop down button style properties*/
.drpbtn{

    background-color:#1b5e39;
    color: white;
    
    font-size: 1.3em;;
    text-indent: 0em;
    height: 2.1em;
    border: none;
    cursor: pointer;
    min-width: 120px;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    box-shadow: 5px 10px 8px #302c2c;
    margin-bottom: 5px;
  }
  

  /* we need a container so we can specify position on the page*/
  .drpdwncon{
    position: fixed;
    top: 100px;
    width: 120px;
    
    display: inline-block;
    
    
  }
  /* we need to specify the properties of the hidden content*/
  .drpdwncon-c{
    display: none;
    position: absolute;
    background-color: #52a376;
    
    
    z-index: 1;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    box-shadow: 5px 10px 8px #302c2c;
  }
  /* the <a> inside the dc */
    .drpdwncon-c a{
      color: black;
      
      text-align: left;
      font-family: 'Titillium Web', sans-serif;
      background-color: #52a376;
      color:#480355;
      font-size: 0.8em;;
      text-decoration: none;
      text-indent: 10px;;
      min-width: 120px;
      display: block;

      border-top-left-radius: 0.8em;
      border-top-right-radius: 0.8em;;
      border-bottom-left-radius: 0.8em;
      border-bottom-right-radius: 0.8em;
      
    }
    /* change on hover */
    .drpdwncon-c a:hover {
      background-color: #ccc;
      
    }
    

  /* now we want the content to show on hover */
  .drpdwncon:hover .drpdwncon-c{
    display: block;
    
    /* notice how we went from display:none to display: block*/
  }

  /* post filtering CSS */

  .filterDiv {
    /* lol i oopsied here*/
    display: none;
    color: #635f7c;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .filterBtn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .filterBtn:hover {
    background-color: #ddd;
  }
  
  .filterBtn.active {
    background-color: #3e6d9d;
    color: white;
    border-top-left-radius: 0.8em;
    border-top-right-radius: 0.8em;;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    margin: 2px;
  }
  .active:hover{
    background-color: #9d3e4a;
  }

  #myFilterBtnContainer 
  {
    position: fixed;
    top: 200px;
    width: 120px;
    
    display: inline-block;
  }